.container{
    width: 120rem;
    margin: 4rem auto;
    height: 52rem;
}


.header{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 2%;
    justify-content: center;
    align-items: center;
    background-image: url(../images/OIP.jpg);
}


.header__title{
   
    flex: 50%;
    font-size:30px;
}

.header__title h1{
    font-size: 2.5rem;
    text-transform: uppercase;
}

.header__title h2{
    font-size: 1.7rem;
}


.header_content{
    width: 100%;
    flex:25%;
   
}


.conf_logo{
    width: 50%;
    
}

.udm_logo{
    width: 50%;
  
}

@media (max-width: 800px) {
    .header {
      flex-direction: column;
    }

    .card {
        width: 100%;
     }
  }


.content{
    display: flex;
}

/**Sidebar**/

.active{
    background-color: var(--Colour4-pale-blue);
}

.sidebar__link{
    text-decoration: none;
    color: var(--Colour6-black);
    /* padding: 1rem; */
    font-size: 20px;
    /* border: 2px solid yellow; */
    padding-bottom: 10%;
    
}

.sidebar__link:hover{
    color: var(--Colour8-white);
}

/**remove the dot**/
.sidebar__item{
    list-style: none;
}

.sidebar__item:hover{
    background-color: var(--Colour2-dark-blue);
    transition: background-color 0.6s ease;
}

/**main**/




.top_content{
    display: flex;
    /* border: 2px solid red; */
    width: 100%;
    background-image: url(../images/banner.jpg);
    padding: 2%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 320px;
    justify-content: center;
    align-items: center;
}

.counter{
    display: flex;
    align-items: center;
    /* border: 2px solid blue; */
    padding: 2%;
}

.count{
    /* position: absolute; */
    /* top: 50%;
    left: 30%; */
    /* border: 2px solid yellow; */
    font-family: 'fontawesome';
    display: flex;
    align-items: center;
    font-size: 40px;
    background-color:var(--Colour8-white);
    opacity: 0.6;
    padding: 1%;
    width: 100%;
    justify-content: center;

    /* background-image: url(../images/banner.jpg); */
}

.advert{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    padding: 2%;
}

.previous_conference{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    padding: 2%;
}

.block{
    border: 1px solid var(--Colour7-grey);
    min-height: 25vh;
    font-size: 1.5rem;
    text-align: justify;
    padding: 1%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: var(--box-shadow);
}

.content ul,ol{
    list-style-position: inside;
}

.books{
    width: 19%;
    margin: 2%;
    border: 4px solid var(--Colour2-dark-blue);
    box-shadow: var(--box-shadow);
}
/**sidebar**/
.side{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1%;
}

.box{
    border: 1px solid var(--Colour7-grey);
    min-height: 25vh;
    font-size: 1.15rem;
    text-align: center;
    padding: 1%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--C4-pale-blue);
    box-shadow: var(--box-shadow)  ;
}



.important_dates{
    text-align:left;
    font-size: 1.4rem;
}

.important_dates div{
    padding: 0 5%;
}

.session_titles{
    color:var(--Colour2-dark-blue);
    text-decoration: underline;
}

.conf_mgt, .pub_partners{
    padding: 1%;
    min-height: 0vh;


}

.prev_conf{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 2rem;
    flex: 50%;
}
.social_media{
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev_conf_links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.conf_icon{
    height: 6vh;
    margin: 1rem 0;
}
.conf_link{
    text-decoration: none;
}

.conf_link:hover{
    text-decoration: underline;
}


.footer{
    font-size: 2rem;
    color: white;
    background-color: var(--Colour1-blue);
} 

.copyright{
    text-align: center;
    padding: 1%;
}

/**registration**/
h2{
    color: var(--Colour1-blue);
    padding: 1.2%;
    margin-bottom: 2rem 0;
}

table, th,td{
    border: 1px solid var(--Colour6-black);
    border-collapse: collapse;
}

th, td{
    padding: 1%;
    text-align: center;
}

th{
    background-color: var(--Colour1-blue);
    color: var(--Colour8-white);
}


.block_title{
    color: var(--Colour2-dark-blue);
    padding: 1%;
    margin-bottom: 2rem;
}

.block_heading{
    color: var(--Colour1-blue);
    padding: 1.2%;
    margin-bottom: 2rem 0;
}




/**KEYNOTES**/


.speaker_title{
    border: 1px solid var(--Colour6-black);
    box-shadow: var(--box-shadow);
    margin: 2rem 0;
}

.speaker_heading{
    font-size: 4rem;
    color: var(--Colour2-dark-blue);
    padding: 1%;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.speaker{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.speaker_details{
    display: flex;
    font-size: 1.6rem;
    flex: 1 0 0;
    padding-left: 4rem;
}


.speaker_img{
    width: 12vw;
    height: 25vh;
    margin: 0 2%;
}


/**Contact**/



.contact{
    padding-left: 2%;
    font-size: 2rem;
    color:var(--Colour2-dark-blue);
}

input[type=text], select, textarea {
    width: 40%;
    padding: 4px;
    border-radius: 4px;
    resize: vertical;
  }
  
  input[type=submit] {
    padding: 4px 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  /**about**/


.about{
    border: 1px solid var(--Colour7-grey);
    min-height: 25vh;
    font-size: 1.5rem;
    text-align: justify;
    padding: 1%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: var(--box-shadow);
}


.about_title{
    color: var(--Colour2-dark-blue);
    padding: 1%;
    margin-bottom: 2rem;
}

.about_heading{
    color: var(--Colour1-blue);
    padding: 1.2%;
    margin-bottom: 2rem 0;
}

/**venue**/
.conference{
    font-weight: bold;
    font-size: large;
}

.red_note{
    color: rgb(155, 19, 19);
}


/**travel**/
.travel_bold{
    font-weight: bold;
    font-size: large;
}

/**sightseeing**/
.card {
    color: white;
    float: left;
    width: calc(25% - 20px);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    height: 350px;
 }
 .card p {
    font-size: 18px;
 }
 .cardContainer:after {
    content: "";
    display: table;
    clear: both;
 }
 /* @media screen and (max-width: 600px) {
    .card {
       width: 100%;
    }
 } */
